@import '../../../../scss/variables';
@import '../../../../scss/utility';
@import '../../../../scss/fields';
@import './../../../../scss/drag';
@import '../../../../scss/forms';
@import '../shared/question';

.header {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  display: grid;
  grid-template-columns: 6fr 1fr;
  height: 48px;
  h4 {
    padding: 14px;
  }
}

.time-min {
  display: flex;
  margin-right: 10px;

  .sort-arrow {
    background: none;
    border: none;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
    outline: none;
    padding: 0;
    width: 15px;

    .sort-arrow-icon {
      height: 15px;
      width: 15px;
    }
  }
}
