$background: #fafafa;
$dark-aquamarine: #007672;
$dark-aquamarine-hover: #0076721a;
$turquoise: #00b2a9;
$dark: #101820;
$ruby: #e0004d;
$white: #ffffff;
$white-two: #dddddd;
$squash: #f5a623;
$dark-sky-blue: #4a90e2;
$greyish-brown: #4a4a4a;
$greyish: #aaaaaa;
$placeholder: #999999;
$input-border: #dddddd;
$black: #333333;
$white-three: #fafafa;
$white-four: #eeeeee;
