@import '../../../../scss/variables';

.information-bar-item {
  background-color: var(--white);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  box-sizing: border-box;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 20px;
}

.information-bar-item-title {
  color: $dark;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.information-bar-item-data {
  color: $ruby;
  font-family: 'Nexa', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.submit-btn {
  background-color: $dark-aquamarine;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 800;
  height: 45px;
  width: 97px;
}
